<div class="background">

    <h1 class="top">News Detail</h1>
    <hr>
    <table class="detail">
        <tr>
            <td>
                <h3 style="padding-right:50px;">Title</h3>
            </td>
            <!-- <td>{{news?.title}}</td> -->
            <td>
                <h4 style=" vertical-align: baseline;">{{news?.title}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="padding-right:50px;">Synopsis</h3>
            </td>
            <!-- <td>{{news?.synopsis}}</td> -->
            <td>
                <h4>{{news?.synopsis}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="padding-right:50px;">Tags</h3>
            </td>
            <!-- <td>{{news?.tags}}</td> -->
            <td>
                <h4>{{news?.tags}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="padding-right:50px;">URL</h3>
            </td>
            <!-- <td>
                <a href="{{user?.socialMedia}}">{{news?.url}}</a>
            </td> -->
            <td>
                <a href="{{news?.url}}">
                    <h4>{{news?.url}}</h4>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="padding-right:50px;">Date From</h3>
            </td>
            <!-- <td>{{news?.dates}}</td> -->
            <td>
                <h4>{{news?.dateFrom}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="padding-right:50px;">Date To</h3>
            </td>
            <!-- <td>{{news?.dates}}</td> -->
            <td>
                <h4>{{news?.dateTo}}</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="padding-right:50px;">Date Posted</h3>
            </td>
            <!-- <td>{{news?.creationDate}}</td> -->
            <td>
                <h4>{{news?.creationDate}}</h4>
            </td>
        </tr>
    </table>
    <div class="bottom">
        <button class="btn btn-primary" (click)="onReply()">Reply</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>

    <h1 class="top">Replies</h1>
    <hr>
    <div *ngFor="let reply of replylist" class="detail">
        <!-- <p>Post By: {{reply?.username}}</p> -->
        <h3>Post By: {{reply?.username}}</h3>
        <table style="border-collapse: collapse;">
            <tr>
                    <td>
                        <h4 style="padding-right:50px;">Verification</h4>
                    </td>
                    <td>
                        <h5><b>{{reply?.verify}}</b></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="padding-right:50px;">Title</h4>
                    </td>
                    <td>
                        <h5 style=" vertical-align: baseline;">{{reply?.title}}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="padding-right:50px;">Synopsis</h4>
                    </td>
                    <td>
                        <h5>{{reply?.synopsis}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="padding-right:50px;">Tags</h4>
                    </td>
                    <td>
                        <h5>{{reply?.tags}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="padding-right:50px;">URL</h4>
                    </td>
                    <td>
                        <a href="{{reply?.url}}">
                            <h5>{{reply?.url}}</h5>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 style="padding-right:50px;">Post on</h4>
                    </td>
                    <td>
                        <h5>{{reply?.creationDate}}</h5>
                    </td>
                </tr>
            </table>
            <div class="bottom">
                    <button class="btn btn-danger" (click)="onReplyDelete(reply?.replyId)">Delete</button>
            </div>
    </div>
</div>