<article class="panel panel-default">
    <div class="panel-body">
        <!-- {{ news?.title }} -->
        <!-- <a (click)= "getDetail()">test: title for a news</a> -->
        <a (click)="getDetail(news?.newsId)">{{news?.title}}</a>

    </div>
    <!-- <p>latitude: {{news?.latitude}}</p>
        <p>longtitude: {{news?.longitude}}</p>
        <p>url: {{news?.url}}</p>
        <p>dates: {{news?.dates}}</p>
        <p>newsId: {{news?.newsId}}</p>
        <p>userId: {{news?.userId}}</p>
        <p>username: {{news?.username}}</p> -->

    <footer class="panel-footer">
        <div class="author">
            Created on: {{news?.creationDate}}
        </div>
    </footer>
</article>