.background {
    /* background-color:white; */
    /* padding-bottom: 250px; */
    background: rgb(255, 255, 255);
    /* Fall-back for browsers that don't
    support rgba */
    background: rgba(255, 255, 255, 0.6);
    /* opacity: 0.5; */
    filter: alpha(opacity=50);
    box-shadow: 0 3px 6px rgb(236, 236, 236);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 95%;
    /* border-radius: 10px; */
}

a {
    font-size: 20px;
    list-style-type: square;
}

p {
    padding-top: 5px;
    margin-left: 27px;
}

@media screen and (max-width: 800px) {
    .background{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      padding-left: 20px;
      margin-left:40px;
      margin-right:40px;

    }
  }

  li {
    color:rgb(92, 89, 89);
  }