<hr>
<!-- <article class="panel panel-default">
    <div class="panel-body">
         {{ news?.title }} 
        <a [routerLink]="['newsId']">title</a>
    </div>
    <footer class="panel-footer">
        
        <div class="config" *ngIf="belongsToUser()">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div> 
    </footer>
</article> -->


<div class="background">
    <table>
        <tr>
            <td>Title</td>
            <!-- <td>{{news?.title}}</td> -->
            <td>Title for test</td>
        </tr>
        <tr>
            <td>Synopsis</td>
            <!-- <td>{{news?.synopsis}}</td> -->
            <td>Synopsis for test</td>
        </tr>
        <tr>
            <td>Tags</td>
            <!-- <td>{{news?.tags}}</td> -->
            <td>Tags for test</td>
        </tr>
        <tr>
            <td>URL</td>
            <!-- <td>
                        <a href="{{user?.socialMedia}}">{{news?.url}}</a>
                    </td> -->
            <td>
                <a>URL for test</a>
            </td>
        </tr>
        <tr>
            <td>Creation Date</td>
            <!-- <td>{{news?.creationDate}}</td> -->
            <td>Creation Date for test</td>
        </tr>
        <tr>
            <td>Dates</td>
            <!-- <td>{{news?.dates}}</td> -->
            <td>Dates for test</td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
</div>