
agm-map {
    height:400px;
    width: 100%;
    float: left;
    overflow: auto;
    border:5px solid white;
}

@media screen and (max-width: 800px) {
    agm-map{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

.errorMessage {
    color: red
}

  .footer{
    padding-bottom: 25px;
  }
