<app-news></app-news>
<app-news></app-news>



<!-- <ul class="tabs">

    <li class="tab">
        <input type="radio" name="tabs" checked="checked" id="tab1" />
        <label for="tab1">
            <h2>Replies</h2>
        </label>
        <hr/>
        <hr/>
        <div id="tab-content1" class="content">

            <br>
        </div>
    </li>

    <li class="tab">
        <input type="radio" name="tabs" id="tab2" />
        <label for="tab2">
            <h2>Post</h2>
        </label>
        <hr/>
        <hr/>
        <div id="tab-content2" class="content">
            <br>
            <app-news></app-news>
            <app-news></app-news>

        </div>
    </li>
</ul> -->