<div class="background">
    <h1>news detail</h1>

    <div class="col-md-8 col-md-offset-2">

        <div>
            <label for="title">Title*</label>
            <input type="text" id="title" class="form-control" [ngModel]="news?.title" name="title" required>
        </div>

        <div>
            <label for="synopsis">Synopsis*</label>
            <input type="text" id="synopsis" class="form-control" [ngModel]="news?.title" name="synopsis" required>
        </div>

        <div>
            <label for="tag">Tags*</label>
            <input type="text" id="tag" class="form-control" [ngModel]="news?.title" name="tag" required>
        </div>

        <div>
            <label for="url">URL</label>
            <input type="text" id="url" class="form-control" [ngModel]="news?.url" name="url" required>
        </div>

        <div>
            <label for="dates">Dates</label>
            <input type="date" id="dates" class="form-control" [ngModel]="news?.dates" name="dates" required>
        </div>

        <table>
            <tr>
                <td>Title</td>
                <!-- <td>{{news?.title}}</td> -->
                <td>Title for test</td>
            </tr>
            <tr>
                <td>Synopsis</td>
                <!-- <td>{{news?.synopsis}}</td> -->
                <td>Synopsis for test</td>
            </tr>
            <tr>
                <td>Tags</td>
                <!-- <td>{{news?.tags}}</td> -->
                <td>Tags for test</td>
            </tr>
            <tr>
                <td>URL</td>
                <!-- <td>
                    <a href="{{user?.socialMedia}}">{{news?.url}}</a>
                </td> -->
                <td>
                    <a>URL for test</a>
                </td>
            </tr>
            <tr>
                <td>Creation Date</td>
                <!-- <td>{{news?.creationDate}}</td> -->
                <td>Creation Date for test</td>
            </tr>
            <tr>
                <td>Dates</td>
                <!-- <td>{{news?.dates}}</td> -->
                <td>Dates for test</td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>