<!-- <div class="container"> -->
    <div class="background">
<h1>News Submission Form</h1>
<form>
    
        <label for="urlSubmission">Submitting:</label>
        <input type="text"  id="urlSubmission" required><br><br>
        <label></label> <input type="text"  id="synopsis"><br><br>
        <label for="countryTag">Country:</label>
        <input type="text"  id="countryTag"><br><br>

        <label for="govermentTag">Government:</label>
        <input type="text" id="govermentTag"><br><br>

        <label for="peopleTag">People:</label>
        <input type="text"  id="govermentTag"><br><br>
        
        <label for="generalTag">Tags:</label>
        <input type="text" id="generalTag">

        
    
</form>             
</div>
