<!-- <div class="col-md-8 col-md-offset-2">
    <h1> Our Team</h1>
</div> -->

<!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1> Our Team</h1>
    </div>
</div>

<br>
<br>
<div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
</div> -->

<div class='fullscreenDiv'>
    <div class="center">
        <h1> Our Team</h1>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim et urna sagittis, rhoncus euismod
            erat tincidunt. Donec tincidunt volutpat erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            placerat enim et urna sagittis, rhoncus euismod erat tincidunt. Donec tincidunt volutpat erat.</p> -->
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">

                <img class="user-photo" src="../../images/robbie.png" alt="default user">
                <h2 style="font-weight: bold">Robert Perry</h2>
                <a href="https://www.linkedin.com/in/robbie-perry-31946b157/">
                    <!-- <img class="linkedin" [src]="fullImagePath" alt="default user"> -->
                    <img class="linkedin" src="../../images/linkedin.png" alt="default user">

                </a>

            </div>
            <div class="col-md-6">
                <img class="user-photo" src="../../images/victor1.png" alt="default user">
                <h2 style="font-weight: bold">Victor Bak</h2>
                <a href="https://www.linkedin.com/in/victor-bak-8931ba154/">
                    <img class="linkedin" src="../../images/linkedin.png" alt="default user">
                </a>

            </div>
        </div>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-6">
                <img class="user-photo" src="../../images/lu1.png" alt="default user">
                <h2 style="font-weight: bold">Lu She</h2>
                <a href="https://www.linkedin.com/in/lu-she-812230160/">
                    <img class="linkedin" src="../../images/linkedin.png" alt="default user">
                </a>

            </div>
            <div class="col-md-6">
                <img class="user-photo" src="../../images/kunlaya1.png" alt="default user">
                <h2 style="font-weight: bold">Kunlaya Kobunnoi</h2>
                <a href="https://www.linkedin.com/in/kunlaya-kobunnoi/">
                    <img class="linkedin" src="../../images/linkedin.png" alt="default user">
                </a>

            </div>
        </div>

    </div>
    <div class="space"></div>

</div>​