<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <li><a [routerLink]="['']">Home</a></li>
            <li *ngIf="!isLoggedIn()"><a [routerLink]="['/signup']">Signup</a></li>
            <li *ngIf="!isLoggedIn()"><a [routerLink]="['/signin']">Signin</a></li>
            <li *ngIf="isLoggedIn()"><a (click)="onLogout()">Logout</a></li>
            <li *ngIf="isLoggedIn()"><a [routerLink]="['/user/profile']">Hello {{ username }}</a></li>
        </ul>
    </nav>
</header>