<!-- <header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <li><a [routerLink]="['']">Home</a></li>
            <li *ngIf="!isLoggedIn()"><a [routerLink]="['/signup']">Signup</a></li>
            <li *ngIf="!isLoggedIn()"><a [routerLink]="['/signin']">Signin</a></li>
            <li *ngIf="isLoggedIn()"><a (click)="onLogout()">Logout</a></li>
            <li *ngIf="isLoggedIn()"><a [routerLink]="['/user']">Hello {{ username }}</a></li>
        </ul>
    </nav>
</header> -->


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="logo">
		<img class="logo" src="../../images/logo.png" style=" max-width: 100%;
    height: 80px !important; padding-left:100px;" [routerLink]="['']">
	</div>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" *ngIf="!isLoggedIn()">
				<a class="nav-link" [routerLink]="['/signup']">Signup</a>
			</li>
			<li class="nav-item" *ngIf="!isLoggedIn()">
				<a class="nav-link" [routerLink]="['/signin']">Signin</a>
			</li>
			<li class="nav-item" *ngIf="isLoggedIn()">
				<a class="nav-link" (click)="onLogout()">Logout</a>
			</li>
			<li class="nav-item" *ngIf="isLoggedIn()">
				<a class="nav-link" [routerLink]="['/user']">Hello {{ username }}</a>
			</li>
		</ul>

	</div>
</nav> -->



<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">

			<div class="row">
				<div class="col-sm-2 col-xs-12">
   				</div>
				
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a [routerLink]="['']">Home</a></li>
						<li *ngIf="!isLoggedIn()"><a [routerLink]="['/signup']">Signup</a></li>
						<li *ngIf="!isLoggedIn()"><a [routerLink]="['/signin']">Signin</a></li>
						<li *ngIf="isLoggedIn()"><a (click)="onLogout()">Logout</a></li>
						<li *ngIf="isLoggedIn()"><a [routerLink]="['/user/profile', username]">Hello {{ username }}</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>