<!-- <nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
							<label for="show-menu" class="show-menu">Show Menu</label>
						<input type="checkbox" id="show-menu" role="button">

			<div class="row">
				<div class="col-sm-2 col-xs-12">
   				</div>
			
				<div class="col-xs-10 text-right menu-1">
				
						<ul >
								<li>
									<a [routerLink]="['']">Home</a>
								</li>
								<li *ngIf="!isLoggedIn()">
									<a [routerLink]="['/signup']">Signup</a>
								</li>
								<li *ngIf="!isLoggedIn()">
									<a [routerLink]="['/signin']">Signin</a>
								</li>
								<li *ngIf="isLoggedIn()">
									<a (click)="onLogout()">Logout</a>
								</li>
								<li *ngIf="isLoggedIn()">
									<a [routerLink]="['/user/profile', username]">Hello {{ username }}</a>
								</li>
						</ul>
				</div>
			</div>

		</div>
	</nav> -->

<!-- <nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
				<label for="show-menu" class="show-menu">Show Menu</label>
				<div class="row">
				<div class="col-sm-2 col-xs-12">
   				</div>
				
				<div class="col-xs-10 text-right menu-1">
					<label for="show-menu" class="show-menu">Show Menu</label>
	<input type="checkbox" id="show-menu" role="button">
		<ul id="menu">
				<li><a [routerLink]="['']">Home</a></li>
				<li *ngIf="!isLoggedIn()"><a [routerLink]="['/signup']">Signup</a></li>
				<li *ngIf="!isLoggedIn()"><a [routerLink]="['/signin']">Signin</a></li>
				<li *ngIf="isLoggedIn()"><a (click)="onLogout()">Logout</a></li>
				<li *ngIf="isLoggedIn()"><a [routerLink]="['/user/profile', username]">Hello {{ username }}</a></li>
</ul>
				</div>
			</div>

		</div>
	</nav> -->


<!-- <div class="gtco-container"> -->
<div class="topnav">
	<label for="show-menu" class="show-menu">Show Menu</label>
	<input type="checkbox" id="show-menu" role="button">

	<ul id="menu">
		<li>
		<a [routerLink]="['']" style="font-size: 25px;"> BEAVERTAIL
		</a>
		</li>
		<li *ngIf="!isLoggedIn()">
			<a [routerLink]="['/signup']">Signup</a>
		</li>
		<li *ngIf="!isLoggedIn()">
			<a [routerLink]="['/signin']">Signin</a>
		</li>
		<li *ngIf="isLoggedIn()">
			<a (click)="onLogout()">Logout</a>
		</li>
		<li *ngIf="isLoggedIn()">
			<a [routerLink]="['/user/profile', username]">Hello {{ username }}</a>
		</li>

	</ul>
</div>