agm-map {
    /* height: 400px;
    width: 100%; */

    /* max-width: none;
    min-width: 0px; */
    height:400px;
    width: 100%;
    float: left;
    overflow: auto;
    border:5px solid white;


}
/* #middle {
   background: #3dcdbc;
  background: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
  background: -webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: -ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
  background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1 );
}  */


button{
    width: 100%;
    height: 60px;
    margin-top:10px;
    font-size: 2em;
    background-color: white;
}
button a{
    color: #3dcdbc;
    color: -moz-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    color: -webkit-gradient(left top, right top, color-stop(0%, #3dcdbc), color-stop(100%, #33a1bd));
    color:-webkit-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    color:-o-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    color:-ms-linear-gradient(left, #3dcdbc 0%, #33a1bd 100%);
    color:linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dcdbc', endColorstr='#33a1bd', GradientType=1 );
  

}
button a:hover {
    /* background-color: #ddd; */
    color: white;

}

@media screen and (max-width: 800px) {
    agm-map, button {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }