<agm-map [latitude]="49" [longitude]="-123" [backgroundColor]="'#aadaff'">
    <agm-marker-cluster [imagePath]="'http://test.local:4711/m'">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng"></agm-marker>
    </agm-marker-cluster>
</agm-map>
<!-- <h2><a [routerLink]="['/form']">form</a></h2> -->

<button type="button" class="btn btn-info" [routerLink]="['/form']">
    <a>CREATE NEWS</a>
</button>
<hr>
<div class="col-lg-6">
    <h1>Recent News</h1>
    <news-list></news-list>
</div>
<div class="col-lg-6">
    <h1>Popular News</h1>
    <news-list></news-list>
</div>