
<agm-map [latitude]="49" [longitude]="-123" [backgroundColor]="'#aadaff'">
    <agm-marker-cluster [imagePath]="'https://raw.githubusercontent.com/WestAlbertans/BeaverTail/develop/assets/images/m'">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng">
            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                    <div class="info-box">
                        <a href="#"><h4>{{ m.title }}</h4></a>
                        <p>{{ m.desc }}</p>
                    </div>
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </agm-marker-cluster>
</agm-map>

<button type="button" class="btn btn-info"[routerLink]="['/form']"><a>CREATE NEWS</a></button>