<agm-map [latitude]="49" [longitude]="-123" [backgroundColor]="'#aadaff'">
    <agm-marker-cluster [imagePath]="'https://raw.githubusercontent.com/WestAlbertans/BeaverTail/develop/assets/images/m'">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng">
            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                    <div class="info-box">
                        <a (click)="getDetail(m.id)"><h4>{{ m.title }}</h4></a>
                        <p>{{ m.desc }}</p>
                    </div>
                </ng-template>
            </agm-snazzy-info-window>
        </agm-marker>
    </agm-marker-cluster>
</agm-map>

<button type="button" class="btn btn-info" [routerLink]="['/form']">
    <a>CREATE NEWS</a>
</button>
<hr>
<div class="col-lg-6">
    <h1>Recent News</h1>
    <news-recent></news-recent>
</div>
<div class="col-lg-6">
    <h1>Popular News</h1>
    <news-popular></news-popular>
</div>
<div class="footer">
    <br>
</div>