<div class="row">
    <div class="col-lg-3">
        <user-info></user-info>
    </div>

    <div class="col-lg-8  col-lg-offset-1">
        <ul class="tab">
            <li routerLinkActive="active">
                <a [routerLink]="['replies']">
                    <h1>REPLIES</h1>

                </a>
            </li>
            <li routerLinkActive="active" class="tab">
                <a [routerLink]="['posts']">
                    <h1>POSTS</h1>
                </a>
            </li>
        </ul>

        <router-outlet></router-outlet>
    </div>
</div>