<!-- <img class="user-photo" src="../../images/user.png" alt="default user">
<br>

<table>
    <div class="info">

        <td>
            <h1>{{user?.username}}</h1>
        </td>
        <div class="hr">
            <hr />
        </div>
        <tr>

            <br>

        </tr>
        <tr>
            <td>Name</td>
            <td>{{user?.name}}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{user?.bio}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user?.email}}</td>
        </tr>
        <tr>
            <td>Social Media</td>
            <td>
                <a href="{{user?.socialMedia}}">{{user?.socialMedia}}</a>
            </td>
        </tr>
    </div>
</table>
<br>

<button type="button" class="btn btn-info">
    <a (click)="onEdit()">Edit Profile</a>
</button> -->


<img class="user-photo" src="../../images/user.png" alt="default user">

<table>
    <div class="info">

        <td>
            <h1>{{user?.username}}</h1>
        </td>
    </div>
    <div class="hr">
        <hr />
    </div>
    <tr>

        <br>

    </tr>
    <div class="detail">
        <tr>
            <td>Name</td>
            <td>{{user?.name}}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{user?.bio}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{user?.email}}</td>
        </tr>
        <tr>
            <td>Social Media</td>
            <td>
                <a href="{{user?.socialMedia}}">{{user?.socialMedia}}</a>
            </td>
        </tr>
    </div>
</table>
<br>

<button type="button" class="btn btn-info">
    <a (click)="onEdit()">Edit Profile</a>
</button>